################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/Blog/Code/UsingStatementLocation/.vs/UsingStatementLocation/v16
/Blog/Code/UsingStatementLocation/UsingStatementLocation/bin/Debug
/Blog/Code/UsingStatementLocation/UsingStatementLocation/obj/Debug
